<template>
    <v-layout row xs12 text-center justify-center class="pt-5" fill-height>
        <v-flex xs12 mt-5>
            <h2>Gestión de cursos</h2>
        </v-flex>
        <v-flex xs10>

            <CourseOptions></CourseOptions>
            <br>
            {{ info }}
        </v-flex>


    </v-layout>
</template>
<script>
    import axios from 'axios';
    import CourseOptions from '../components/CourseOpt'
    export default {
        components: {
            CourseOptions
        },
        data() {
            return {
                info: null
            }
        },

        mounted() {
            axios
                .get(
                'http://172.16.5.187/api/certificados/dependencias/1/') // https://api.coindesk.com/v1/bpi/currentprice.json
                .then(response => (this.info = response))
        }
    }
</script>
<style lang="scss" scoped>


</style>