<template>
  <v-layout row xs12 text-center justify-center class="pt-5" fill-height>
    <v-flex xs12 mt-5>
      <h2>Gestión de participantes</h2>
    </v-flex>
    <v-flex xs9 sm6 md3>
      <p>Por favor sube el archivo con la lista de participantes.</p>
      <upload-users></upload-users>
    </v-flex>

    <v-flex xs10 mt-2>
      <h3>Personas registradas</h3>
      <br />
      <h4>Evento: {{ evento }}</h4>
      <br />
      <v-data-table
        :headers="headers"
        :items="usuarios"
        :items-per-page="50"
        class="elevation-1"
      ></v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import UploadUsers from "../components/UploadUsers";
import axios from "axios";
export default {
  components: {
    UploadUsers,
  },
  data() {
    return {
      evento: "Nombre del evento",
      headers: [
        { text: "id", value: "id" },
        { text: "Nombres", align: "start", sortable: false, value: "nombre" },
        { text: "Apellidos", value: "apellido" },
        { text: "Rol", value: "rol" },
        { text: "Estado", value: "estado" },
      ],
      usuarios: [],
    };
  },
  created: async function () {
    let response = await axios.get("plantillas/");
    console.log(response.data.results);
    for (let plant in response.data.results) {
      this.plantillas.push({
        nombre: response.data.results[plant].nombre,
        archivo: response.data.results[plant].archivo,
        dependencia: response.data.results[plant].dependencia,
      });
    }
  },
};
</script>
<style lang="scss" scoped>
</style>