<template>
  <div class="login">
    <h1 style="text-align: center">{{ name }}</h1>
    <LoginForm />
  </div>
</template>

<script>
import LoginForm from "@/components/LoginForm.vue";

export default {
  name: "LoginPage",
  props: {
    msg: String,
  },
  components: {
    LoginForm,
  },
  data() {
    return {
      name: "Ingresar",
    };
  },
};
</script>

