<template>
  <v-layout row xs12 text-center justify-center class="pt-5" fill-height>
    <v-card class="tarjeta-login">
      <v-card-text class="pt-4">
        <div>
          <v-form v-model="valid" ref="form">
            <v-text-field
              label="Ingresa tu usuario"
              v-model="username"
              required
            ></v-text-field>
            <v-text-field
              label="Ingresa tu contraseña"
              v-model="password"
              min="5"
              :append-icon-cb="() => (e1 = !e1)"
              :type="e1 ? 'password' : 'text'"
              :rules="passwordRules"
              required
            ></v-text-field>
            <p>{{ status }}</p>
            <v-layout justify-space-between>
              <!-- <v-btn
                @click.native=""
                class="blue darken-4 white--text"
                >Login</v-btn
              > -->
              <button type="submit" variant="primary">Login</button>
              <!--
                            <a href="">Forgot Password</a>
                         -->
            </v-layout>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
    <ul class="background">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </v-layout>
</template>
<script>
// import axios from "axios";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      valid: false,
      e1: true,
      password: "",
      passwordRules: [(v) => !!v || "Password is required"],
      username: "",
      status: "",
      nextPath: "/",
      errorMessage: "",
    };
  },
  methods: {
    // check() {
    //   let self = this;
    //   console.log("Submitting");
    //   //this.$router.go('/main')

    //   if (this.$refs.form.validate()) {
    //     //  this.$refs.form.$el.submit()
    //     console.log("estamos validando");
    //     this.status = "";
    //     setTimeout(function () {
    //       self.$router.replace("/main");
    //     }, 1500);
    //   } else {
    //     this.status = "Por favor revisa tu usuario y contraseña";
    //   }
    // },
    handleLogin(event) {
      event.preventDefault();
      this.login({ username: this.username, password: this.password }).then(
        () => {
          this.$router.push(this.nextPath);
        }
      );
    },
    updateAfterLoginNextPath() {
      if ("next" in this.$route.query) {
        this.nextPath = this.$route.query.next;
      }
    },
    ...mapActions(["login"]),

    clear() {
      this.$refs.form.reset();
    },
  },
  mounted() {
    this.updateAfterLoginNextPath();
  },
};
</script>
<style lang="scss" scoped>
// Estilos form
.tarjeta-login {
  z-index: 10;
  height: min-content;
  margin-top: 2vw;
  text-align: center;
}

// Fondo  Creditos: https://wweb.dev/resources/animated-css-background-generator/
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #051745;
  overflow: hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 64%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 52%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 5s;
}

.background li:nth-child(2) {
  left: 16%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 3s;
}

.background li:nth-child(3) {
  left: 62%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 11s;
}

.background li:nth-child(4) {
  left: 2%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 8s;
}

.background li:nth-child(5) {
  left: 73%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 24s;
}

.background li:nth-child(6) {
  left: 85%;
  width: 122px;
  height: 122px;
  bottom: -122px;
  animation-delay: 1s;
}

.background li:nth-child(7) {
  left: 49%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 29s;
}

.background li:nth-child(8) {
  left: 43%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 7s;
}

.background li:nth-child(9) {
  left: 56%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 11s;
}
</style>