<template>
  <v-layout row xs12 text-center justify-center class="pt-5" fill-height>
    <v-layout row xs12 text-center justify-center mt-4>
      <v-flex xs12 sm5 md5>
        <v-btn href="/plantilla/" :color="'black'" dark>
          <span class="mr-2">Crear plantilla</span>
        </v-btn>
      </v-flex>

      <v-flex xs12 sm5 md5>
        <v-btn href="/file/" :color="'black'" dark>
          <span class="mr-2">Cargar participantes</span>
        </v-btn>
      </v-flex>

      <v-flex xs12 sm5 md5>
        <v-btn href="/" :color="'black'" dark @click="handleLogout">
          <span class="mr-2">Salir</span>
        </v-btn>
      </v-flex>

      <v-flex xs10>
        <CourseOptions></CourseOptions>
        <br />
        <!-- {{ info }} -->
      </v-flex>
    </v-layout>
  </v-layout>
</template>
<script>
import axios from "axios";
import CourseOptions from "../components/CourseOpt";
import { mapActions, mapState } from "vuex";
export default {
  components: {
    CourseOptions,
  },
  computed: {
    ...mapState(["isLoggedIn"]),
  },
  methods: {
    handleLogout(event) {
      event.preventDefault();
      this.logout();
      this.$router.push("/");
    },
    ...mapActions(["logout"]),
  },
  data() {
    return {
      info: null,
    };
  },

  mounted() {
    axios
      .get("http://172.16.5.187/api/certificados/cursos/") // https://api.coindesk.com/v1/bpi/currentprice.json
      .then((response) => (this.info = response.data));
  },
};
</script>
<style lang="scss" scoped>
</style>