<template>
  <v-layout row xs12 text-center justify-center class="pt-5" fill-height>
    <v-flex xs12 mt-5>
      <h2>Creación de plantillas</h2>
    </v-flex>
    <v-flex xs10 sm6 md3>
      <p>Por favor selecciona la nueva plantilla que requieres subir.</p>
      <upload-files></upload-files>
    </v-flex>

    <v-flex xs10 mt-2>
      <h3>Plantillas existentes</h3>
      <v-data-table
        :headers="headersPlantilla"
        :items="plantillas"
        item-key="nombre"
      ></v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import UploadFiles from "../components/UploadFiles";
import axios from "axios";
export default {
  components: {
    UploadFiles,
  },
  data() {
    return {
      headersPlantilla: [
        {
          text: "Nombre",
          align: "start",
          value: "nombre",
        },

        { text: "Archivo", value: "archivo" },
        { text: "Dependencia", value: "dependencia" },
      ],
      plantillas: [{}],
    };
  },
  created: async function () {
    let response = await axios.get("plantillas/");
    console.log(response.data.results);
    for (let plant in response.data.results) {
      this.plantillas.push({
        nombre: response.data.results[plant].nombre,
        archivo: response.data.results[plant].archivo,
        dependencia: response.data.results[plant].dependencia,
      });
    }
  },
};
</script>
<style lang="scss" scoped>
</style>