<template>
  <v-layout row xs12 wrap text-center justify-center class="pt-5" fill-height>
    <v-flex xs6 sm6 md3>
      <v-img alt="Vuetify Logo" src="@/assets/img1.png" />
      <v-btn href="/login/" :color="'#051745'" dark>
        <span class="mr-2">Ingresar</span>
      </v-btn>
    </v-flex>
    <v-flex xs12 sm12 md8 class="pr-6 pl-6" pb-5>
      <v-flex xs12 mt-5>
        <h1>Sistema de certificados</h1>
      </v-flex>
      <div>
        <p>
          En esta sección los investigadores podrán consultar los certificados
          de su participación a eventos, ingresando su número de cédula o
          documento de identificación.
        </p>
      </div>

      <v-container>
        <v-row>
          <v-flex xs12 sm12 md6 style="padding: 1vw">
            <br />
            <v-card color="#952175" dark>
              <v-card-title class="text-h6 text-center">
                Por número de documento
              </v-card-title>
              <v-layout row xs12>
                <v-flex xs5>
                  <v-card-subtitle
                    >Por favor, digita tu número de documento:</v-card-subtitle
                  >
                </v-flex>

                <v-flex xs6 text-right>
                  <v-text-field
                    label="Ej: 1234"
                    v-model="documento"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row xs12>
                <v-flex xs5> </v-flex>
                <v-flex xs6 text-right>
                  <v-card-actions style="text-align: right">
                    <v-dialog v-model="dialog1" persistent max-width="590">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          class="ml-2 mt-1"
                          @click.native="consultarCertificado"
                          outlined
                          small
                        >
                          Consultar
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title class="text-h5 justify-center">
                          Certificados
                        </v-card-title>

                        <v-data-table
                          :headers="headersCertificado"
                          :items="arregloCertificados"
                          :items-per-page="5"
                          item-key="evento"
                          class="elevation-1"
                          :footer-props="{
                            showFirstLastPage: true,
                            firstIcon: 'mdi-arrow-collapse-left',
                            lastIcon: 'mdi-arrow-collapse-right',
                            prevIcon: 'mdi-minus',
                            nextIcon: 'mdi-plus',
                          }"
                        >
                          <template v-slot:[`item.descargar`]="{ value }">
                            <a :href="value" target="_blank"> Descargar </a>
                          </template></v-data-table
                        >

                        <v-card-actions>
                          <v-spacer></v-spacer>

                          <v-btn
                            color="green darken-1"
                            text
                            @click="
                              dialog1 = false;
                              arregloCertificados = [];
                            "
                          >
                            Aceptar
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex xs12 sm12 md6 style="padding: 1vw">
            <br />
            <v-card color="#0765A8" dark>
              <v-card-title class="text-h6 text-center">
                Por código de certificado
              </v-card-title>
              <v-layout row xs12>
                <v-flex xs5>
                  <v-card-subtitle
                    >Por favor, digita el código de
                    certificado:</v-card-subtitle
                  >
                </v-flex>
                <v-flex xs6 text-right>
                  <v-text-field
                    label="Ej: 34CXO"
                    v-model="codigo"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row xs12>
                <v-flex xs5> </v-flex>
                <v-flex xs6 text-right>
                  <v-card-actions style="text-align: right">
                    <v-dialog v-model="dialog" persistent max-width="590">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          class="ml-2 mt-1"
                          @click.native="verificarCertificado"
                          outlined
                          small
                        >
                          Verificar
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title class="text-h5 justify-center">
                          Certificados
                        </v-card-title>
                        <v-card-text>
                          <v-data-table
                            :headers="headersCertificado"
                            :items="arregloVerificacion"
                            item-key="evento"
                            hide-default-footer
                            ><template v-slot:[`item.descargar`]="{ value }">
                              <a :href="value" target="_blank"> Descargar </a>
                            </template>
                          </v-data-table>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>

                          <v-btn
                            color="green darken-1"
                            text
                            @click="
                              dialog = false;
                              arregloVerificacion = [];
                            "
                          >
                            Aceptar
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-row>
      </v-container>
      <v-flex xs12 mt-4>
        <p>
          Los certificados expedidos cuentan con un código de verificación en la
          parte inferior, el cual permite confirmar la autenticidad de estos
          documentos. <br />

          Adicionalmente, la protección de los datos aquí gestionados se rigen
          bajo La Ley 1581 de 2012.
        </p>
      </v-flex>
    </v-flex>
    <div id="popup">
      <v-row justify="center"> </v-row>
    </div>
  </v-layout>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      visto: 0,
      items: [
        {
          color: "#1F7087",
          src: "https://cdn.vuetifyjs.com/images/cards/foster.jpg",
          title: "Supermodel",
          artist: "Foster the People",
        },
        {
          color: "#952175",
          src: "https://cdn.vuetifyjs.com/images/cards/halcyon.png",
          title: "Halcyon Days",
          artist: "Ellie Goulding",
        },
      ],
      dialog1: false,
      dialog: false,
      documento: "",
      codigo: "",
      headersCertificado: [
        {
          text: "Evento",
          align: "start",
          value: "evento",
        },
        { text: "Fecha", value: "fecha" },
        { text: "Descargar", value: "descargar" },
      ],

      arregloCertificados: [],
      arregloVerificacion: [],
    };
  },
  methods: {
    async consultarCertificado() {
      let response = await axios.get("consultar/" + this.documento);
      for (let x in response.data.certificados) {
        this.arregloCertificados.push({
          evento: response.data.certificados[x].curso.toString(),

          fecha: response.data.certificados[x].fecha_generacion.substring(
            0,
            10
          ),

          descargar:
            "http://172.16.5.187/api/certificados/descargar/" +
            response.data.certificados[x].codigo_verificacion,
        });
      }
    },
    async verificarCertificado() {
      let response = await axios.get("verificar/" + this.codigo);

      this.arregloVerificacion.push({
        evento: response.data[this.codigo].curso.toString(),

        fecha: response.data[this.codigo].fecha.substring(0, 10),

        descargar:
          "http://172.16.5.187/api/certificados/descargar/" + this.codigo,
      });
    },
  },
};
</script>
<style lang="scss" scoped>
</style>