<template>
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header class="item2">
        <template v-slot:default="{ open }">
          <v-row no-gutters>
            <v-col cols="8"> Crear curso </v-col>
            <v-col cols="4" class="text--secondary">
              <v-fade-transition leave-absolute>
                <span v-if="open" key="0" style="color: white">
                  <!-- Enter a name for the trip -->
                </span>
                <span v-else key="1">
                  <!--  {{ trip.name }} -->
                </span>
              </v-fade-transition>
            </v-col>
          </v-row>
        </template>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-layout wrap row mt-3 pb-3>
          <v-flex xs12>
            <v-text-field
              hint="Mayor a tres letras"
              label="Nombre"
              v-model="crearCurso.nombre"
              placeholder="Digita el nombre del curso a crear"
            >
            </v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-textarea
              hint="Mayor a cinco letras"
              label="Descripción"
              rows="1"
              v-model="crearCurso.descripcion"
              placeholder="Digita la descripción del curso a crear"
            >
            </v-textarea>
          </v-flex>
          <v-flex xs12>
            <v-expansion-panel-content>
              <v-layout wrap row mt-3 pb-3>
                <v-flex xs6>
                  <v-select
                    v-model="crearCurso.dependencia"
                    :items="dependencias"
                    item-text="nombre"
                    item-value="enlace"
                    chips
                    flat
                    solo
                  ></v-select>
                </v-flex>
                <v-flex xs6> Seleccione la dependencia </v-flex>
              </v-layout>
            </v-expansion-panel-content>
          </v-flex>
          <v-flex xs12>
            <v-expansion-panel-content>
              <v-layout wrap row mt-3 pb-3>
                <v-flex xs6>
                  <v-select
                    v-model="crearCurso.plantilla"
                    :items="plantillas"
                    item-text="nombre"
                    item-value="enlace"
                    chips
                    flat
                    solo
                  ></v-select>
                </v-flex>
                <v-flex xs6> Seleccione la plantilla </v-flex>
              </v-layout>
            </v-expansion-panel-content>
          </v-flex>
          <v-layout row wrap justify-center pb-4 mt-3>
            <v-flex xs4>
              <v-menu
                ref="startMenu"
                :close-on-content-click="false"
                :return-value.sync="crearCurso.fecha_lanzamiento"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="crearCurso.fecha_lanzamiento"
                    label="Fecha de inicio"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  >
                  </v-text-field>
                </template>
                <v-date-picker v-model="date" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.startMenu.isActive = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.startMenu.save(date)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>

            <v-flex xs4>
              <v-menu
                ref="endMenu"
                :close-on-content-click="false"
                :return-value.sync="crearCurso.fecha_cierre"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="crearCurso.fecha_cierre"
                    label="Fecha de cierre"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.endMenu.isActive = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn text color="primary" @click="$refs.endMenu.save(date)">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-flex xs12>
            <v-btn rounded :color="'#2FA853'" dark @click.native="crear">
              Crear
            </v-btn>
          </v-flex>
        </v-layout>
        <v-flex xs12
          ><div>
            <!-- {{ this.crearCurso }} -->
          </div></v-flex
        >
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-expansion-panel>
      <v-expansion-panel-header v-slot="{ open }" class="item2">
        <v-row no-gutters>
          <v-col cols="8"> Modificar curso </v-col>
          <v-col cols="4" class="text--secondary">
            <v-fade-transition leave-absolute>
              <span v-if="open" key="0" style="color: white">
                Selecciona un curso
              </span>
              <span v-else key="1" style="color: white">
                {{ trip.curso }}
              </span>
            </v-fade-transition>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-layout wrap row mt-3 pb-3>
          <v-flex xs6>
            <v-select
              v-model="arregloCurso.id"
              :items="cursos"
              item-text="nombre"
              item-value="id"
              chips
              flat
              solo
            ></v-select>
          </v-flex>
          <v-flex xs6> Seleccione el curso que quiere modificar </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" persistent max-width="720">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              class="ml-2 mt-1"
              outlined
              small
              @click.native="detallesCurso"
            >
              Modificar curso
            </v-btn>
          </template>
          <v-card>
            <v-card-title class="text-h5 justify-center"> Curso </v-card-title>
            <v-card-text>
              <v-data-table
                :headers="headersCurso"
                :items="arregloCurso"
                item-key="nombre"
                hide-default-footer
                disable-sort="True"
              >
                <template v-slot:[`item.nombre`]="props">
                  <v-edit-dialog
                    :return-value.sync="props.item.nombre"
                    large
                    persistent
                  >
                    <div>{{ props.item.nombre }}</div>
                    <template v-slot:input>
                      <div class="mt-4 text-h6">Actualizar nombre</div>
                      <v-text-field
                        v-model="props.item.nombre"
                        :rules="[max25chars]"
                        label="Edit"
                        single-line
                        counter
                        autofocus
                      ></v-text-field>
                    </template>
                  </v-edit-dialog>
                </template>
                <template v-slot:[`item.descripcion`]="props">
                  <v-edit-dialog
                    :return-value.sync="props.item.descripcion"
                    large
                    persistent
                  >
                    <div>{{ props.item.descripcion }}</div>
                    <template v-slot:input>
                      <div class="mt-4 text-h6">Actualizar descripción</div>
                      <v-text-field
                        v-model="props.item.descripcion"
                        :rules="[max25chars]"
                        label="Edit"
                        single-line
                        counter
                        autofocus
                      ></v-text-field>
                    </template>
                  </v-edit-dialog>
                </template>

                <template v-slot:[`item.fecha_lanzamiento`]="props">
                  <v-edit-dialog
                    :return-value.sync="props.item.fecha_lanzamiento"
                    large
                    persistent
                  >
                    <div>{{ props.item.fecha_lanzamiento }}</div>
                    <template v-slot:input>
                      <div class="mt-4 text-h6">
                        Actualizar fecha de lanzamiento
                      </div>
                      <v-date-picker
                        v-model="props.item.fecha_lanzamiento"
                        label="Edit"
                        single-line
                        counter
                        autofocus
                      ></v-date-picker>
                    </template>
                  </v-edit-dialog>
                </template>
                <template v-slot:[`item.fecha_cierre`]="props">
                  <v-edit-dialog
                    :return-value.sync="props.item.fecha_cierre"
                    large
                    persistent
                  >
                    <div>{{ props.item.fecha_cierre }}</div>
                    <template v-slot:input>
                      <div class="mt-4 text-h6">Actualizar fecha de cierre</div>
                      <v-date-picker
                        v-model="props.item.fecha_cierre"
                        label="Edit"
                        single-line
                        counter
                        autofocus
                      ></v-date-picker>
                    </template>
                  </v-edit-dialog>
                </template>
              </v-data-table>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="green darken-1" text @click.native="modificarCurso">
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-expansion-panel>
      <v-expansion-panel-header v-slot="{ open }" class="item2">
        <v-row no-gutters>
          <v-col cols="8"> Ver detalles del curso </v-col>
          <v-col cols="4" class="text--secondary">
            <v-fade-transition leave-absolute>
              <span v-if="open">
                <!-- When do you want to travel? -->
              </span>
              <v-row v-else no-gutters style="width: 100%">
                <v-col cols="6">
                  <!--  Start date: {{ trip.start || 'Not set' }} -->
                </v-col>
                <v-col cols="6">
                  <!--  End date: {{ trip.end || 'Not set' }} -->
                </v-col>
              </v-row>
            </v-fade-transition>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row justify="space-around" no-gutters>
          <v-col cols="12">
            <v-layout wrap row mt-3 pb-3>
              <v-flex xs6>
                <v-select
                  v-model="arregloCurso.id"
                  :items="cursos"
                  item-text="nombre"
                  item-value="id"
                  chips
                  flat
                  solo
                ></v-select>
              </v-flex>

              <v-flex xs6> Seleccione el curso </v-flex>
              <v-flex xs12>
                <v-dialog v-model="dialogDetalles" persistent max-width="520">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      class="ml-2 mt-1"
                      @click.native="detallesCurso"
                      outlined
                      small
                    >
                      Ver detalles
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title class="text-h5 justify-center">
                      Detalles Curso
                    </v-card-title>
                    <v-card-text>
                      <v-data-table
                        :headers="headersCurso"
                        :items="arregloCurso"
                        item-key="nombre"
                        hide-default-footer
                        disable-sort="true"
                      ></v-data-table>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn
                        color="green darken-1"
                        text
                        @click="
                          dialogDetalles = false;
                          arregloCurso = [];
                        "
                      >
                        Aceptar
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-flex>
            </v-layout>
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import axios from "axios";
import { authRequest } from "@/services/auth";

export default {
  data: () => ({
    date: null,
    max25chars: (v) => v.length <= 150 || "Fuera del límite!",
    trip: {
      name: "",
      curso: null,
      dependencia: null,
      start: null,
      end: null,
      desc: "",
    },
    crearCurso: {
      nombre: "",
      descripcion: "",
      fecha_lanzamiento: "",
      fecha_cierre: "",
      dependencia: "",
      plantilla: "",
    },

    dialog: false,
    dialogDetalles: false,
    headersCurso: [
      {
        text: "Nombre",
        align: "start",
        value: "nombre",
      },

      { text: "Descipción", value: "descripcion" },
      { text: "Fecha de lanzamiento", value: "fecha_lanzamiento" },
      { text: "Fecha de cierre", value: "fecha_cierre" },
      { text: "Dependencia", value: "dependenciaNombre" },
    ],

    arregloCurso: [],
    cursos: [],
    dependencias: [],
    plantillas: [],
    token: "",
  }),
  methods: {
    async detallesCurso() {
      let response = await axios.get("cursos/" + this.arregloCurso.id + "/");
      let idDependencia = response.data.dependencia.split("/");
      let response2 = await axios.get(
        "dependencias/" + idDependencia[idDependencia.length - 2] + "/"
      );
      const resultado = response2.data.nombre;

      this.arregloCurso.push({
        id: response.data.id,
        nombre: response.data.nombre.toString(),
        descripcion: response.data.descripcion,
        fecha_lanzamiento: response.data.fecha_lanzamiento,
        fecha_cierre: response.data.fecha_cierre,
        dependenciaNombre: resultado,
        dependencia: response.data.dependencia.toString(),
        plantilla: response.data.plantilla,
      });
    },

    crear: function () {
      this.enviar();

      alert("Curso " + this.crearCurso.nombre + " creado!");

      this.crearCurso = {
        nombre: "",
        descripcion: "",
        fecha_lanzamiento: null,
        fecha_cierre: null,
        dependencia: "",
        plantilla: "",
      };
    },
    async enviar() {
      const datos = this.crearCurso;
      authRequest.post("certificados/cursos/", datos);
    },
    async modificarCurso() {
      authRequest.put(
        "certificados/cursos/" + this.arregloCurso.id + "/",
        this.arregloCurso[0]
      );

      this.arregloCurso = [];
      this.dialog = false;
    },
  },
  created: async function () {
    let response = await axios.get("cursos/");
    for (let curso in response.data.results) {
      this.cursos.push({
        nombre: response.data.results[curso].nombre,
        id: response.data.results[curso].id,
      });
    }

    let responseDependencia = await axios.get("dependencias/");

    for (let dependencia in responseDependencia.data.results) {
      this.dependencias.push({
        id: responseDependencia.data.results[dependencia].id,
        nombre: responseDependencia.data.results[dependencia].nombre,
        enlace:
          "http://172.16.5.187/api/certificados/dependencias/" +
          responseDependencia.data.results[dependencia].id +
          "/",
      });
      if (responseDependencia.data.next == null) {
        console.log("mostrar demas dependencias");
      }
    }

    let responsePlantilla = await axios.get("plantillas/");

    for (let plantilla in responsePlantilla.data.results) {
      this.plantillas.push({
        id: responsePlantilla.data.results[plantilla].id,
        nombre: responsePlantilla.data.results[plantilla].nombre,
        enlace:
          "http://172.16.5.187/api/certificados/plantillas/" +
          responsePlantilla.data.results[plantilla].id +
          "/",
      });
    }

    this.cursos.reverse();
  },
};
</script>
<style>
.item2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  margin-bottom: 2px;
  font-weight: bold;
}

.item13 {
  background: #f51d50;
  /* background: linear-gradient(255deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  color: white;
}
</style>