<template>
  <div class="form">
    <v-form v-on:submit="handleLogin">
      <v-form
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <v-text-field
          id="input-1"
          v-model="username"
          type="text"
          required
          placeholder="Enter email"
        ></v-text-field>
      </v-form>
      <v-form-group>
        <v-label for="text-password">Password</v-label>
        <v-text-field
          type="password"
          id="text-password"
          v-model="password"
          aria-describedby="password-help-block"
        ></v-text-field>
      </v-form-group>
      <!-- <v-btn type="submit" variant="primary">Login</v-btn> -->
      <v-btn @click.native="handleLogin">Enviar</v-btn>
    </v-form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "LoginForm",
  data() {
    return {
      username: "",
      password: "",
      nextPath: "../main/",
      errorMessage: "",
    };
  },
  mounted() {
    this.updateAfterLoginNextPath();
  },
  methods: {
    handleLogin(event) {
      event.preventDefault();
      this.login({ username: this.username, password: this.password }).then(
        () => {
          this.$router.push(this.nextPath);
        }
      );
    },
    updateAfterLoginNextPath() {
      if ("next" in this.$route.query) {
        this.nextPath = this.$route.query.next;
      }
    },
    ...mapActions(["login"]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
form {
  max-width: 400px;
  margin: 0 auto;
}
</style>
