<template>
  <div>
    <div v-if="currentFile">
      <div>
        <v-progress-linear
          v-model="progress"
          color="light-blue"
          height="25"
          reactive
        >
          <strong>{{ progress }} %</strong>
        </v-progress-linear>
      </div>
    </div>

    <v-row no-gutters justify="center" align="center">
      <v-col cols="8">
        <v-file-input
          show-size
          label="File input"
          @change="selectFile"
          type="file"
        ></v-file-input>
      </v-col>

      <v-col cols="4" class="pl-2">
        <v-btn color="success" dark small @click="upload">
          Upload
          <v-icon right dark>mdi-cloud-upload</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-alert v-if="message" border="left" color="blue-grey" dark>
      {{ message }}
    </v-alert>

    <v-card v-if="fileInfos.length > 0" class="mx-auto">
      <v-list>
        <v-subheader>List of Files</v-subheader>
        <v-list-item-group color="primary">
          <v-list-item v-for="(file, index) in fileInfos" :key="index">
            <a :href="file.url">{{ file.name }}</a>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
    <v-flex xs12>
      <v-layout wrap row mt-3 pb-3>
        <v-flex xs6>
          <v-select
            v-model="curso"
            :items="cursos"
            item-text="nombre"
            item-value="id"
            chips
            flat
            solo
          ></v-select>
        </v-flex>
        <v-flex xs6> Seleccione el curso</v-flex>
      </v-layout>
    </v-flex>
  </div>
</template>
<script>
import axios from "axios";
import { authRequest } from "@/services/auth";
export default {
  name: "upload-users",

  data() {
    return {
      currentFile: null,
      progress: 0,
      message: "",
      fileInfos: [],
      token: "",
      nombre: "",
      curso: "",
      cursos: [],
    };
  },
  methods: {
    selectFile(event) {
      console.log(event);
      this.progress = 0;
      this.currentFile = event;
    },
    async upload() {
      if (!this.currentFile) {
        this.message = "¡Selecciona un archivo!";
        return;
      }
      const fd = new FormData();
      fd.append(
        "curso",
        "http://172.16.5.187/api/certificados/cursos/" + this.curso + "/"
      );
      console.log(fd);

      const header = {
        "Content-Type": "multipart/form-data",
      };
      this.message = "";
      authRequest
        .post("certificados/upload/", fd, header)
        .then((response) => Promise.resolve(response.data))
        .catch((error) => Promise.reject(error));
    },
  },
  created: async function () {
    let response = await axios.get("cursos/");
    for (let curso in response.data.results) {
      this.cursos.push({
        nombre: response.data.results[curso].nombre,
        id: response.data.results[curso].id,
      });
    }
  },
  mounted() {},
};
</script>