<template>
  <div>
    <div v-if="currentFile">
      <div>
        <v-progress-linear
          v-model="progress"
          color="light-blue"
          height="25"
          reactive
        >
          <strong>{{ progress }} %</strong>
        </v-progress-linear>
      </div>
    </div>
    <v-layout wrap row mt-3 pb-3>
      <v-flex xs12>
        <v-text-field
          hint="Mayor a tres letras"
          label="Nombre"
          v-model="nombre"
          placeholder="Digita el nombre de plantilla"
        >
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-row no-gutters justify="center" align="center">
      <v-col cols="8">
        <v-file-input
          show-size
          label="File input"
          @change="selectFile"
          type="file"
        ></v-file-input>
      </v-col>

      <v-col cols="4" class="pl-2">
        <v-btn color="success" dark small @click="upload">
          Upload
          <v-icon right dark>mdi-cloud-upload</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-alert v-if="message" border="left" color="blue-grey" dark>
      {{ message }}
    </v-alert>

    <v-card v-if="fileInfos.length > 0" class="mx-auto">
      <v-list>
        <v-subheader>List of Files</v-subheader>
        <v-list-item-group color="primary">
          <v-list-item v-for="(file, index) in fileInfos" :key="index">
            <a :href="file.url">{{ file.name }}</a>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
    <v-flex xs12>
      <v-layout wrap row mt-3 pb-3>
        <v-flex xs6>
          <v-select
            v-model="dependencia"
            :items="dependencias"
            item-text="nombre"
            item-value="enlace"
            chips
            flat
            solo
          ></v-select>
        </v-flex>
        <v-flex xs6> Seleccione la dependencia </v-flex>
      </v-layout>
    </v-flex>
  </div>
</template>

<script>
import axios from "axios";
import { authRequest } from "@/services/auth";
export default {
  name: "upload-files",

  data() {
    return {
      currentFile: null,
      progress: 0,
      message: "",
      fileInfos: [],
      token: "",
      nombre: "",
      dependencia: "",
      dependencias: [],
    };
  },
  methods: {
    selectFile(event) {
      console.log(event);
      this.progress = 0;
      this.currentFile = event;
    },
    async upload() {
      if (!this.currentFile) {
        this.message = "¡Selecciona un archivo!";
        return;
      }
      const fd = new FormData();
      fd.append("archivo", this.currentFile);
      fd.append("dependencia", this.dependencia);
      fd.append("nombre", this.nombre);
      console.log(fd);

      const header = {
        "Content-Type": "multipart/form-data",
      };
      this.message = "";
      authRequest
        .post("certificados/plantillas/", fd, header)
        .then((response) => Promise.resolve(response.data))
        .catch((error) => Promise.reject(error));
    },
  },
  created: async function () {
    let responseDependencia = await axios.get("dependencias/");

    for (let dependencia in responseDependencia.data.results) {
      this.dependencias.push({
        id: responseDependencia.data.results[dependencia].id,
        nombre: responseDependencia.data.results[dependencia].nombre,
        enlace:
          "http://172.16.5.187/api/certificados/dependencias/" +
          responseDependencia.data.results[dependencia].id +
          "/",
      });
      if (responseDependencia.data.next == null) {
        console.log("mostrar demas dependencias");
      }
    }
  },
  mounted() {},
};
</script>