<template>
  <v-app>
    <v-app-bar app color="#051745" dark height="100">
      <div class="d-flex align-center">
        <v-img alt="Vuetify Logo" class="shrink mr-2" contain src="@/assets/logo_i3_02.png"
          transition="scale-transition" width="100%" />


      </div>

      <v-spacer></v-spacer>


       <!--
      <v-btn href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank" text>

        <span class="mr-2">Acerca de</span>

      </v-btn>
      <v-btn href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank" text>

        <span class="mr-2">Contacto</span>

      </v-btn>

     -->
    </v-app-bar>

    <v-main>
      <!--  <HelloWorld /> 
       <v-icon>mdi-open-in-new</v-icon>-->
      <router-view />
    </v-main>

    <v-footer dark padless>
      <v-card class="flex" flat tile>


        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Instituto I3+.</strong>
          <v-btn v-for="icon in icons" :key="icon" class="mx-4" dark icon>
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-footer>


  </v-app>
</template>

<script>
  export default {
    name: 'App',



    data: () => ({
      //

    }),
  };
</script>